body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

nav {
    display: flex;
    justify-content: space-between;
}

.hero-container {
    display: flex;
    margin: 120px;
    gap: 80px;
}

.hero-image-container {
    display: flex;
    object-fit: contain;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

a,
.right-links,
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 20px;
}

.left-links {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero-main {
    margin: 0px;
}



